<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Evoto</servlet-name>
		<servlet-class>es.upm.dit.isst.evoto.EvotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Evoto</servlet-name>
		<url-pattern>/evoto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CA</servlet-name>
		<servlet-class>es.upm.dit.isst.evoto.CAServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CA</servlet-name>
		<url-pattern>/ca</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CRV</servlet-name>
		<servlet-class>es.upm.dit.isst.evoto.CRVServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CRV</servlet-name>
		<url-pattern>/crv</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResetCRV</servlet-name>
		<servlet-class>es.upm.dit.isst.evoto.ResetCRVServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetCRV</servlet-name>
		<url-pattern>/resetcrv</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Simulacion</servlet-name>
		<servlet-class>es.upm.dit.isst.evoto.SimulacionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Simulacion</servlet-name>
		<url-pattern>/simulacion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DatosCA</servlet-name>
		<servlet-class>es.upm.dit.isst.evoto.DatosCAServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DatosCA</servlet-name>
		<url-pattern>/datosca</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResetCA</servlet-name>
		<servlet-class>es.upm.dit.isst.evoto.ResetCAServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetCA</servlet-name>
		<url-pattern>/resetca</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
